.home
  %h1 mentors<span class="green">4</span>all
  %h4 A community of mentors for Chicago's computer science teachers
  .audience
    %p I'm a computer science expert or higher education student
    = link_to "Learn More", about_mentors_path

  .audience
    %p I'm a Chicago Public Schools computer science teachers
    = link_to "Learn More", about_teachers_path
