.home
  %h1 mentors<span class="green">4</span>all
  .audience
    %p I'm a computer science expert or higher education student
    = link_to "Learn More"

  .audience
    %p I'm a Chicago Public Schools computer science teachers
    = link_to "Learn More"
